page-home {
   .botonmenu{
       color:black;
       background-color: #FFFFFF;
       outline: none;
   
   }

   .fondo{
       background-image: url('../assets/imgs/AulaWp.jpg');
       
   }

   .centrar{
        margin-top: 20%;

   }
   .foto{
    // background-color: rgba(255, 255, 255, 0.00);
    border: 3px solid black;
    margin-top: 2%;
   }
}
