<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ion-header>
    <ion-navbar>
   
      <ion-title>Modificar Datos</ion-title>
      <ion-buttons end>
          <button ion-button (click)="closeModal()" >Cerrar </button>   
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding align="center">
    <!---->    

 
    <div class="tab-content tabs-login col-lg-10 col-md-10 col-sm-10 cols-xs-10">
      <div id="login-access" class="tab-pane fade active in">
        <h2><i class="glyphicon glyphicon-log-in"></i>Modificar Datos</h2>						

        Nombre:              <ion-label>Enemies</ion-label>
        <input type="text" id="a" name="a" [(ngModel)]="nombre" >
        Tipo:(No se puedo modificar)
        <input type="text" id="s" name="s" [(ngModel)]="tipo" disabled>
        Mail:(No se puedo modificar)
        <input type="email" id="c" name="c" [(ngModel)]="email" disabled>


        Eliga una foto para su perfil:
        <form >
            <input type="radio" [(ngModel)]="foto" name="gender1" ng-model="myVar" value="assets/imgs/1.jpg"> <img class="foto"  width=150px;  src="assets/imgs/1.jpg"><br>
            <input type="radio" [(ngModel)]="foto" name="gender2" ng-model="myVar" value="assets/imgs/2.jpg">  <img class="foto"  width=150px;  src="assets/imgs/2.jpg"><br>
            <input type="radio" [(ngModel)]="foto" name="gender3" ng-model="myVar" value="assets/imgs/3.jpg"> <img class="foto"  width=150px;  src="assets/imgs/3.jpg"><br>
            <input type="radio" [(ngModel)]="foto" name="gender4" ng-model="myVar" value="assets/imgs/4.jpg"> <img class="foto"  width=150px;  src="assets/imgs/4.jpg"><br>
            <input type="radio" [(ngModel)]="foto" name="gender5" ng-model="myVar" value="assets/imgs/5.jpg"> <img class="foto"  width=150px;  src="assets/imgs/5.jpg"><br>
          </form>

      </div>
      
      <button  (click)="Guardar2(myVar)" class="btn btn-primary btn-md">Modificar usuario</button>
    </div>
  </ion-content>
