
.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: rgba(44, 84, 214, 0.63);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-md :hover{
    background-color: rgba(29, 62, 169, 0.63);
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


$turquoise: #1abc9c;
.miboton {
  border:1px solid#ccc;
  outline:none;
  width:100%;
  margin:8px 0;
  color: rgb(2, 2, 2);
  

  padding: 11px 20px 11px 20px;
  border-radius: 3em;
  border-color: $turquoise;
  color: #1abc9c;
  font-family: Verdana;
  background: {
    image: linear-gradient(to right, 
      transparentize($turquoise, 0.4),
      transparentize($turquoise, 0.4) 5%,
      $turquoise 5%, 
      $turquoise 10%,
      transparentize($turquoise, 0.4) 10%,
      transparentize($turquoise, 0.4) 15%,
      $turquoise 15%, 
      $turquoise 20%,
      transparentize($turquoise, 0.4) 20%,
      transparentize($turquoise, 0.4) 25%,
      $turquoise 25%, 
      $turquoise 30%,
      transparentize($turquoise, 0.4) 30%,
      transparentize($turquoise, 0.4) 35%,
      $turquoise 35%, 
      $turquoise 40%,
      transparentize($turquoise, 0.4) 40%,
      transparentize($turquoise, 0.4) 45%,
      $turquoise 45%, 
      $turquoise 50%,
      transparentize($turquoise, 0.4) 50%,
      transparentize($turquoise, 0.4) 55%,
      $turquoise 55%, 
      $turquoise 60%,
      transparentize($turquoise, 0.4) 60%,
      transparentize($turquoise, 0.4) 65%,
      $turquoise 65%, 
      $turquoise 70%,
      transparentize($turquoise, 0.4) 70%,
      transparentize($turquoise, 0.4) 75%,
      $turquoise 75%, 
      $turquoise 80%,
      transparentize($turquoise, 0.4) 80%,
      transparentize($turquoise, 0.4) 85%,
      $turquoise 85%, 
      $turquoise 90%,
      transparentize($turquoise, 0.4) 90%,
      transparentize($turquoise, 0.4) 95%,
      $turquoise 95%, 
      $turquoise 100%);
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 100px;
  }
}


.miboton2
{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color:#3498db;
    font-size: 22px;
    padding: 11px 20px 11px 20px;
    text-decoration: none;


    border:1px solid#ccc;
    outline:none;
    width:100%;
    margin:8px 0;
    
}

.miboton2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


  $blue: #009620;
  .miboton3 {
    font-family: 'Open Sans';
    background:#045213;
    padding: 11px 20px 11px 20px;
    border-color: $blue;
    color:$blue;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    }
  }

  $purple: #631b81;
  .miboton4 {
    // background: $yellow;
    border:10px solidrgb(0, 0, 0);
    border-radius: 3em;
    background:#7e4a94;
    border-color: $purple;
    color: $purple;
    background: {
      image: linear-gradient(45deg,$purple 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    transition: background 300ms ease-in-out;
    
    &:hover {
      background-position: 0;
    }
  }



  .container1{
    font-family: Verdana;
    font-size: 100%;
  }

  .container2{
    font-family: Georgia;
    font-size: 120%;
  }

  .container3{
    font-family: 'Open Sans';
    font-size: 85%;
  }

  .container3{
    font-family: 'calibri';
    font-size: 110%;
  }


  .fondo1{
    background-image: url('../assets/imgs/fondo1.jpg');
    background-size: 300px 200px;   
}

.fondo2{
    background-image: url('../assets/imgs/fondo2.jpg');
    background-size: 300px 200px;   
    }

.fondo3{
    background-image: url('../assets/imgs/fondo3.jpg');
    background-size: 300px 200px;   
    }

.fondo4{
  background-image: url('../assets/imgs/fondo4.jpg');
  background-size: 300px 200px;   
  }


  

    .sa-innate-form button{
      border:1px solid#e64b3b;
    //  background:#e64b3b;
      color:rgb(0, 0, 0);
      padding:10px 25px;
      font-size:14px;
      margin-top:5px;
      width: 100%;
      }








