
.glyphicon-log-in{
    color: #de2f18;

}
.glyphicon{
    color: #de2f18;

}

body{
    
       
        background-image: linear-gradient(#ffffff, #ffffff); 
    }
    
    #box{
        border: 1px solid rgb(253, 150, 81);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
        background: rgb(253, 150, 81);
        border-radius:4px;
        top:50px;

    }
    
    h2{
        text-align:center;
        color:#000000;
    }