   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>
  <ion-navbar>
      <div class={{conteiner}}>
    <ion-title>Importación de planila excel</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()" >Cerrar </button>   
      </ion-buttons>
      </div>
  </ion-navbar>
</ion-header>

<ion-content padding align="center">
    <div class={{conteiner}}>    
        
<div class="login-body">
   
                  <div >
                    <div id="login-access" >
                      <h2><i class="glyphicon glyphicon-log-in"></i> Importar/Exportar Excels</h2>						
                    </div>
                  <div class="foto" >						
                      <img width="150" height="150" src="assets/imgs/excel.jpg">
                      <br><br>
                  </div>
                  </div>
              
                  <ion-navbar color='favorite'> 
                    
                     <ion-buttons start>
                       <button ion-button icon-only (click)="elegirArchivos()">
                           <ion-icon name="add"></ion-icon>
                         </button>
                     </ion-buttons>
                     <ion-title>
                       CSV Data
                     </ion-title>
                     <ion-buttons end>
                       <button ion-button icon-only (click)="downloadCSV()">
                           <ion-icon name="download"></ion-icon>
                         </button> 
                         <button ion-button icon-only (click)="guardarLista()">
                           <ion-icon name="cloud-upload"></ion-icon>
                         </button>
                     </ion-buttons >
                   </ion-navbar>


  
                    <p *ngIf="archivo == null">Presiona el botón + para elegir un archivo</p>
                  
                      <table border="1" class="data-table" style="overflow-x:auto;">
                      
                        <th *ngIf="archivo != null">Legajo</th>
                        <th *ngIf="archivo != null">Nombre y apellido</th>
                        <th *ngIf="archivo != null">Horario</th>
                        <tr *ngFor="let row of csvData; let i = index">
                            <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
                              <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
                            </td>
                          </tr>
                      </table>

      </div>
    </div>
</ion-content>
        
  


