<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ion-header>
    <ion-navbar>
      <form class="form-horizontal" role="form">
        
            <div class="form-group">
                <label   class="col-sm-4 control-label">Seleccione la modalidad</label>
                <div class="col-sm-8">
                    <label class="radio-inline"> <input type="radio" (click)="cambiaLista('uno')" name="season" id="seasonSummer" value="uno" checked> Usuario </label>
                    <label class="radio-inline"> <input type="radio" (click)="cambiaLista('lista')" name="season" id="seasonWinter" value="lista"> Lista </label>
                 
                </div>
            </div>
      </form>
      <!-- <ion-title>ABM Profesor & Administrativo</ion-title> -->

      <ion-buttons end>
          <button ion-button (click)="closeModal()" >Cerrar </button>   
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding align="center">
    <!---->      

    <div [hidden]="!lista1">
    <div class="tab-content tabs-login col-lg-10 col-md-10 col-sm-10 cols-xs-10">
      <div id="login-access" class="tab-pane fade active in">
        <h2><i class="glyphicon glyphicon-log-in"></i> ABM Profesor y Administrativo</h2>						

        <input type="text" id="a" name="a" [(ngModel)]="nombre" placeholder="Ingrese su nombre">
        <input type="email" id="c" name="c" [(ngModel)]="email" placeholder="Ingrese su email ">
        <input type="password" id="c" name="c" [(ngModel)]="password" placeholder="Ingrese su Clave ">
        <input type="password" id="c" name="c" [(ngModel)]="passwordconfirm" placeholder="Repita su Clave ">
        <select  [(ngModel)]="tipo" style="color:black;" >
            <option>Seleccione un tipo de usuario...</option>
            <option>Profesor</option>
            <option>Administrativo</option>
            
          </select>



      </div>
      
      <button  (click)="Guardar()" class="btn btn-primary btn-md">Registrar usuario</button>
    </div>
    </div>


    <div [hidden]="lista1">
    <ion-navbar color='favorite'> 
      
       <ion-buttons start>
         <button ion-button icon-only (click)="elegirArchivos()">
             <ion-icon name="add"></ion-icon>
           </button>
       </ion-buttons>
       <ion-title>
         Importar Lista de Profesores/Administrativos
       </ion-title>
       <ion-buttons end>
         <button ion-button icon-only (click)="downloadCSV()">
             <ion-icon name="download"></ion-icon>
           </button> 
           <button ion-button icon-only (click)="guardarLista()">
             <ion-icon name="cloud-upload"></ion-icon>
           </button>
       </ion-buttons >
     </ion-navbar>



      <p *ngIf="archivo == null">Presiona el botón + para elegir un archivo</p>
    
        <table border="1" class="data-table" style="overflow-x:auto;">
        
          <th *ngIf="archivo != null">Legajo</th>
          <th *ngIf="archivo != null">Nombre y apellido</th>
          <th *ngIf="archivo != null">Email</th>
          <th *ngIf="archivo != null">Clave</th>
          <tr *ngFor="let row of csvData; let i = index">
              <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
                <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
              </td>
            </tr>
        </table>    
        <button  (click)="GuardarLista()" class="btn btn-primary btn-md">Registrar Lista de Usuarios</button>
    </div>

  </ion-content>
