page-abm-alumnos {
    
        @import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
        
        body {
            font-family: Open Sans;
            font-size: 14px;
            line-height: 1.42857;
            background: #333333;
            height: 900px;
            padding: 0;
            margin: 0;
        }
        .body2{
            background-image: url('../assets/imgs/aula.jpg');
            width: 100%;
            height: 100%;
        }
        body{margin:40px;}
        
        
        
        .selectpick{
            background-color: #FFFFFF;
            height:30px;
            width: 350px;
            color:black;
        }
        .radiob{
            size:50px;
        }
        .container-login {
            min-height: 0;
            width: 100%;
            color: #333333;
            margin-top: -10px;
            padding: 0;
        }
        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .container-login > section {
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 10px;
        }
        #top-bar {
            display: inherit;
        }
        .nav-tabs.nav-justified {
            border-bottom: 0 none;
            width: 100%;
        }
        .nav-tabs.nav-justified > li {
            display: table-cell;
            width: 1%;
            float: none;
        }
        .container-login .nav-tabs.nav-justified > li > a,
        .container-login .nav-tabs.nav-justified > li > a:hover,
        .container-login .nav-tabs.nav-justified > li > a:focus {
            background: #ea533f;
            border: medium none;
            color: #ffffff;
            margin-bottom: 0;
            margin-right: 0;
            border-radius: 0;
        }
        .container-login .nav-tabs.nav-justified > .active > a,
        .container-login .nav-tabs.nav-justified > .active > a:hover,
        .container-login .nav-tabs.nav-justified > .active > a:focus {
            background: #ffffff;
            color: #333333;
        }
        .container-login .nav-tabs.nav-justified > li > a:hover,
        .container-login .nav-tabs.nav-justified > li > a:focus {
            background: #de2f18;
        }
        .tabs-login {
            background: #ffffff;
            border: medium none;
            margin-top: -1px;
            padding: 10px 35px;
        }
        .container-login h2 {
            color: #ea533f;
        }
        .form-control {
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #999999;
            border-radius: 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #333333;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100%;
        }
        .container-login .checkbox {
            margin-top: -15px;
        }
        .container-login button {
            background-color: #ea533f;
            border-color: #ea533f;
            color: #ffffff;
            border-radius: 0;
            font-size: 18px;
            line-height: 1.33;
            padding: 10px 16px;
            margin-top: 50px;
            width: 100%;
            
            border-radius: 10px;
        }
        .container-login button:hover,
        .container-login button:focus {
            background: #de2f18;
            border-color: #be2815;
        }
        
        
        
        .funkyradio div {
          clear: both;
          overflow: hidden;
          margin-top: -20px;
          width: 250px;
        }
        
        .funkyradio label {
          width: 100%;
          border-radius: 3px;
          border: 1px solid #D1D3D4;
          font-weight: normal;
        }
        
        .funkyradio input[type="radio"]:empty,
        .funkyradio input[type="checkbox"]:empty {
          display: none;
          
        }
        
        .funkyradio input[type="radio"]:empty ~ label,
        .funkyradio input[type="checkbox"]:empty ~ label {
          position: relative;
          line-height: 2.5em;
          text-indent: 3.25em;
          margin-top: 2em;
          cursor: pointer;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
        }
        
        .funkyradio input[type="radio"]:empty ~ label:before,
        .funkyradio input[type="checkbox"]:empty ~ label:before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: '';
          width: 2.5em;
          background: #D1D3D4;
          border-radius: 3px 0 0 3px;
        }
        
        .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
        .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
          color: #888;
        }
        
        .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
        .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
          content: '\2714';
          text-indent: .9em;
          color: #ea533f;
        }
        
        .funkyradio input[type="radio"]:checked ~ label,
        .funkyradio input[type="checkbox"]:checked ~ label {
          color: #777;
          
        }
        
        .funkyradio input[type="radio"]:checked ~ label:before,
        .funkyradio input[type="checkbox"]:checked ~ label:before {
          content: '\2714';
          text-indent: .9em;
          color: #333;
          background-color:#ea533f;
        }
        
        .funkyradio input[type="radio"]:focus ~ label:before,
        .funkyradio input[type="checkbox"]:focus ~ label:before {
          box-shadow: 0 0 0 3px #999;
          background-color:#ea533f;
        }
        
        .funkyradio-danger input[type="radio"]:checked ~ label:before,
        .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
          color: #000000;
          background-color:#ea533f;
          
           
        }
        
        .funkyradio-danger input[type="radio"]:checked ~ label:before, 
        .funkyradio-danger input[type="checkbox"]:checked ~ label:before{
            color: #000000;
            background-color:#ea533f;
              
        } 
        
        
    
        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="datetime"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        input[type="select"],
        textarea,
        select {
          background: rgba(255,255,255,0.1);
          border: none;
          font-size: 16px;
          height: auto;
          margin: 0;
          outline: 0;
          padding: 15px;
          width: 100%;
          background-color: #e8eeef;
          color: #8a97a0;
          box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
          margin-bottom: 30px;
        }


    }
    