<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>
    <ion-navbar>
      <form class="form-horizontal" role="form">
        
            <div class="form-group">
                <label   class="col-sm-4 control-label">ABM Alumnos</label>
            </div>
      </form>


      <ion-buttons end>
          <button ion-button (click)="closeModal()" >Cerrar </button>   
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding align="center">
 


      <div>
        <div class="form-body">
            <ul class="nav nav-tabs final-login">
              <li class={{claseAlta}}><a data-toggle="tab" (click)="mortrarA('A')"  >Alta </a></li>
              <li class={{claseBaja}}><a data-toggle="tab" (click)="mortrarA('B')">Baja</a></li>
              <li class={{claseModificacion}}><a data-toggle="tab" (click)="mortrarA('C')">Modificacion</a></li>
              <li class={{claselista}}><a data-toggle="tab" (click)="mortrarA('D')">Cargar lista</a></li>
            </ul>
        <div class="tab-content">
        <div id="sectionA" [hidden]="seccionA" class="tab-pane fade in active">
          <div class="innter-form">
              Legajo
              <input type="text" id="c" name="c" [(ngModel)]="legajo" placeholder="Ingrese su legajo ">
              Nombre
              <input type="text" id="a" name="a" [(ngModel)]="nombre" placeholder="Ingrese su nombre">
            <button  (click)="Guardar()" class="btn btn-primary btn-md">Guardar</button>
          </div>
        </div>
        <div id="sectionB" [hidden]="seccionB">
          <div class="innter-form">
            Ingrese el legajo del alumno 
            <input type="text" id="c" name="c" [(ngModel)]="legajo" placeholder="Ingrese su legajo ">
            <button  (click)="Guardar2()" class="btn btn-primary btn-md">Borrar</button>
          </div>
        </div>
        <div id="sectionC" [hidden]="seccionC">
          <div class="innter-form">
          <div [hidden]="Modificar">
              Ingrese el legajo del alumno 
              <input type="text" id="c" name="c" [(ngModel)]="legajo" placeholder="Ingrese su legajo ">
              <button  (click)="Buscar()" class="btn btn-primary btn-md">Buscar</button>
          </div>
          <div [hidden]="!Modificar">
              Legajo
              <input type="text" id="c" name="c" [(ngModel)]="legajo"  disabled>
              Nombre
              <input type="text" id="a" name="a" [(ngModel)]="nombre" placeholder="Ingrese su nombre">
              <button  (click)="Guardar3()" class="btn btn-primary btn-md">Guardar</button>
          </div>
        
          </div>
        </div>
        <div id="sectionA" [hidden]="seccionD" class="tab-pane fade in active">
            <ion-navbar color='favorite'> 
                
                 <ion-buttons start>
                   <button ion-button icon-only (click)="elegirArchivos()">
                       <ion-icon name="add"></ion-icon>
                     </button>
                 </ion-buttons>
                 <ion-title>
                   Importar Lista de Alumnos
                 </ion-title>
                 <ion-buttons end>
                   <button ion-button icon-only (click)="downloadCSV()">
                       <ion-icon name="download"></ion-icon>
                     </button> 
                     <button ion-button icon-only (click)="guardarLista()">
                       <ion-icon name="cloud-upload"></ion-icon>
                     </button>
                 </ion-buttons >
               </ion-navbar>
          
          
          
                <p *ngIf="archivo == null">Presiona el botón + para elegir un archivo</p>
              
                  <table border="1" class="data-table" style="overflow-x:auto;">
                  
                    <th *ngIf="archivo != null">Legajo</th>
                    <th *ngIf="archivo != null">Nombre y apellido</th>
                    <tr *ngFor="let row of csvData; let i = index">
                        <td *ngFor="let data of row; let j = index ; trackBy: trackByFn">
                          <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
                        </td>
                      </tr>
                  </table>    
                  <button  (click)="GuardarLista()" class="btn btn-primary btn-md">Registrar Lista de Alumnos</button>
        
        </div>


        </div>
    </div>
      </div>

</ion-content>