<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>
    <ion-navbar>
    
      <ion-title>Listado Asistentes</ion-title>
      <ion-buttons end>
          <button ion-button (click)="closeModal()" >Cerrar </button>   
        </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content padding  class="body" >
      <ion-fab  down right edge> 
          <button ion-fab mini><ion-icon name="contact" ></ion-icon></button>
           <ion-fab-list>
             <button ion-fab  (click)="TakePhoto()"><ion-icon name="ios-camera"></ion-icon></button>
             <button ion-fab  (click)="logOut()" ><ion-icon name="power"></ion-icon></button>
           </ion-fab-list>
        </ion-fab>
        <table>
        <tr>
          <td class="foto">  
              <img *ngIf="!base64Image" class="foto"  src="assets/imgs/defecto.png">
               <img [src]="base64Image" *ngIf="base64Image" /> 
         </td>
          <td>
              <tr class="titulo1">Materia: {{MateriaFiltro}}</tr>
              <tr class="titulo1"> Aula: {{AulaFiltro}}</tr>     
              <tr class="titulo1">{{this.FechaHoy}}</tr>     
          </td>
               
      </tr>
    </table>
  <table class="table" >
    <thead>
      <tr>
        <th class="th">Legajo</th>
        <th class="th">Nombre</th>
        <th class="th">Presente</th>
      </tr>
    </thead>
    <tbody>
          <tr *ngFor="let item of listadoP;let i=index">
<!--             s -->
            <td style="border-top:0px; ">{{item.Legajo}} </td>
            <td style="border-top:0px; ">{{item.Nombre}} </td>
            <td class="checkbox" style="border-top:0px; ">
                <label>
                    <!-- <input type="checkbox" name="options" value="option" /> {{option}} -->
                  <input (click)="Cambio(i)" [ngModel]="Presencia"  type="checkbox" value=item.Presente>
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                </label>
              </td>
          </tr>
    </tbody>
  </table> 
  <div align="center">
  <button type="button"  class="btn btn-danger btn-circle btn-lg" (click)="Cerrar()" ><i class="glyphicon glyphicon-remove"></i></button>
  <button type="button" style="margin-left:180px;outline:none;" (click)="AgregarLista()"  class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>


</div>
</ion-content>