<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ion-header>
    <ion-navbar>
   
      <h4> Esta encuesta finaliza {{("0000"+this.Tiempo).slice(-2)}}:{{("0000"+this.Minuto).slice(-2)}}  </h4>

      <ion-buttons end>
          <button ion-button (click)="closeModal()" >Cerrar </button>   
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding align="center">
    <!---->     

 
    <div class="tab-content tabs-login col-lg-10 col-md-10 col-sm-10 cols-xs-10">
      <div id="login-access" class="tab-pane fade active in">
        <h2><i  align="center" class="glyphicon glyphicon-log-in"></i>Encuesta</h2>						
      
      <h2>{{pregunta}}</h2>
      <div *ngIf="checkbox">



          <ion-list>
              
                <ion-item>
                  <ion-label>{{resp1}}</ion-label>
                  <ion-checkbox [(ngModel)]="check1"></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>{{resp2}}</ion-label>
                  <ion-checkbox [(ngModel)]="check2" ></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>{{resp3}}</ion-label>
                  <ion-checkbox [(ngModel)]="check3"></ion-checkbox>
                </ion-item>
              
              </ion-list>

  <!--
          <label>{{resp1}} </label>
          <ion-checkbox [(ngModel)]="check1" > </ion-checkbox>
     
          <label>{{resp3}}</label>
          <ion-checkbox [(ngModel)]="check2" >   </ion-checkbox> 
          <label>{{resp3}}</label>
          <ion-checkbox [(ngModel)]="check3" >   </ion-checkbox>
          -->
          </div>
          <div *ngIf="select">
              <select [(ngModel)]="respSelect"  style="color:black;" >
                  <option>Seleccione respuesta..</option>
                  <option>{{resp1}} </option>
                  <option>{{resp2}} </option>
                  <option>{{resp3}} </option>
                </select>
              </div>
              <div *ngIf="button">
                
                     
                      <input [(ngModel)]="buttonSelect"  type="radio" name="gender" value={{resp1}}> {{resp1}}<br>
                      <input [(ngModel)]="buttonSelect"  type="radio" name="gender" value={{resp2}}> {{resp2}} <br>
                      <input [(ngModel)]="buttonSelect"  type="radio" name="gender" value={{resp3}}> {{resp3}}<br>
            
                  </div>
      
        <!-- <h2> Que te parecio la app?</h2>
        <select  [(ngModel)]="preg1" style="color:black;" >
         
          <option>Mala</option>
          <option>Bien</option>
        </select>
  
        <h2> Estas interesado en capacitarte para lograr algo asi?</h2>  
        <select  [(ngModel)]="preg2" style="color:black;" >
       
            <option>Si</option>
            <option>No</option>
    
          </select>
          <h2>Danos tu puntaje del 1 al 5</h2>  
          <select  [(ngModel)]="preg3" style="color:black;" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          
            </select>
 -->

      </div>
      <h2><i class="glyphicon glyphicon-log-in"></i>Gracias por participar</h2>	
      <button  (click)="Guardar()" class="btn btn-primary btn-md">Guardar encuesta</button>
    
    </div>
  </ion-content>
