<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ion-header>
    <ion-navbar>
        <div class={{conteiner}}>
      <h4> Esta encuesta finaliza {{("0000"+this.Tiempo).slice(-2)}}:{{("0000"+this.Minuto).slice(-2)}}  </h4>

      <ion-buttons end>
          <button ion-button (click)="closeModal()" >Cerrar </button>   
        </ion-buttons>
        </div>
    </ion-navbar>
  </ion-header>
  <ion-content padding align="center">
      <div class={{conteiner}}>

 
    <div class="tab-content tabs-login col-lg-10 col-md-10 col-sm-10 cols-xs-10">
      <div id="login-access" class="tab-pane fade active in">
        <h2><i  align="center" class="glyphicon glyphicon-log-in"></i>Encuesta</h2>						
      
      <h2>{{pregunta}}</h2>
      <div *ngIf="checkbox">



          <ion-list>
              
                <ion-item>
                  <ion-label>{{resp1}}</ion-label>
                  <ion-checkbox [(ngModel)]="check1"></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>{{resp2}}</ion-label>
                  <ion-checkbox [(ngModel)]="check2" ></ion-checkbox>
                </ion-item>
              
                <ion-item>
                  <ion-label>{{resp3}}</ion-label>
                  <ion-checkbox [(ngModel)]="check3"></ion-checkbox>
                </ion-item>
              
              </ion-list>


          </div>
          <div *ngIf="select">
              <select class={{textBox}} [(ngModel)]="respSelect"  style="color:black;" >
                  <option>Seleccione respuesta..</option>
                  <option>{{resp1}} </option>
                  <option>{{resp2}} </option>
                  <option>{{resp3}} </option>
                </select>
              </div>
              <div *ngIf="button">
                
                     
                      <input [(ngModel)]="buttonSelect"  type="radio" name="gender" value={{resp1}}> {{resp1}}<br>
                      <input [(ngModel)]="buttonSelect"  type="radio" name="gender" value={{resp2}}> {{resp2}} <br>
                      <input [(ngModel)]="buttonSelect"  type="radio" name="gender" value={{resp3}}> {{resp3}}<br>
            
                  </div>
      


      </div>
      <h2><i class="glyphicon glyphicon-log-in"></i>Gracias por participar</h2>
      <form class="sa-innate-form" method="post">	
      <button  (click)="Guardar()" class={{claseBoton}} >Guardar encuesta</button>
      </form>
        </div>
      </div>
  </ion-content>
