<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>
  <ion-navbar>
    <div class={{conteiner}}>
    <ion-title>Asistencias</ion-title>
   <ion-buttons end>
      <button ion-button (click)="closeModal()" >Cerrar </button>   
    </ion-buttons>
  </div>
  </ion-navbar>
</ion-header>
<ion-content padding align="center">
    <div class={{conteiner}}>
    <h2><i class="glyphicon glyphicon-log-in"></i> Filtros para asistencia</h2>	
  <div [hidden]="OpcionesAvanzadas">
    <div class=funkyradio> 
          <div class={{claseRadio}}>
              <input type="radio" (click)="Traigo('Materias')" name="radio" id="radio6" />
              <label for="radio6">MATERIAS</label>
          </div>
    </div>
      <div class="Lista" [hidden]="!MuestraMaterias" *ngFor="let item of miListaMaterias">
        <a (click)="SetListaMateria(item.Nombre,item.Aula)">{{item.Nombre}}(Aula {{item.Aula}})</a>
      </div>
    <div class=funkyradio>
      <div class={{claseRadio}}>
        <input type="radio" (click)="Traigo('Aula')" name="radio" id="radio7" />
        <label for="radio7">AULAS</label>
      </div>
    </div>
    <div class="Lista" [hidden]="!MuestraAulas" *ngFor="let item of miListaMaterias">
        <a (click)="SetListaMateria(item.Nombre,item.Aula)">Aula {{item.Aula}}</a>
      </div>
  </div>
 

              
<div class="login-body" [hidden]="!OpcionesAvanzadas">

    <div>
      <div id="login-access">				

        <div class="col-md-7">
    <div class="funkyradio">
        <div class={{claseRadio}}>
            <input type="radio" (click)="setOpcion(6)" name="radio" id="radio5" />
            <label for="radio5">Aula-Materia</label>
          </div>
      <div class={{claseRadio}}>
        <input type="radio" (click)="setOpcion(0)" name="radio" id="radio4" />
        <label for="radio4">Aula</label>
      </div>
      <div class={{claseRadio}}>
            <input type="radio" (click)="setOpcion(1)" name="radio" id="radio1" />
            <label for="radio1">Materia</label>
        </div>
  
        <div class={{claseRadio}}>
            <input type="radio" (click)="setOpcion(3)" name="radio" id="radio3" />
            <label for="radio3">Alumno</label>
        </div>
    </div>
</div>
<div class="col-md-8">  
        <select class={{textBox}} *ngIf="opcion==0" [(ngModel)]="AulaSelect" style="color:black;"   selected="selected">
            <option>Aula...</option>
            <option>200</option>
            <option>201</option>
            <option>202</option>
          </select>
          <select class={{textBox}} [(ngModel)]="MateriaSelect"  style="color:black;"   selected="selected" *ngIf="opcion==1" >
              <option>Materia...</option>
              <option>Laboratorio 1</option>
              <option>Programacion 1</option>
              <option>Base de Datos</option>
            </select>
            <select class={{textBox}} [(ngModel)]="ProfesorSelect"  style="color:black;"   selected="selected" *ngIf="opcion==2" >
              <option>Profesor...</option>
              <option>Abaurre,Fernando</option>
              <option>Lopez,Gustavo</option>
              <option>Fernandez,Diego</option>
            </select>
            <input class={{textBox}} *ngIf="opcion==3"  id="msg" placeholder="Inserta el Legajo..."  [(ngModel)]="AlumnoSelect"  type="text" class="selectpick" name="msg"> 
            <!-- <input *ngIf="opcion==4"  id="msg"  [(ngModel)]="Fecha"   type="text" class="selectpick" name="msg" placeholder="Fecha">  -->
            <select class={{textBox}} *ngIf="opcion==6" [(ngModel)]="AulaSelect" style="color:black;"   selected="selected">
                <option>Aula...</option>
                <option>200</option>
                <option>201</option>
                <option>202</option>
              </select>
              <select class={{textBox}} [(ngModel)]="MateriaSelect"  style="color:black;"   selected="selected" *ngIf="opcion==6" >
                  <option>Materia...</option>
                  <option>Laboratorio 1</option>
                  <option>Programacion 1</option>
                  <option>Base de Datos</option>
                </select>	
      </div>
      </div>

    </div>

</div>
<form class="sa-innate-form" method="post">
<button [hidden]="OpcionesAvanzadas" type="submit" style="float:left" (click)="ChangeOpciones()" class={{claseBoton}} >Opciones Avanzadas +</button> 
<button [hidden]="!OpcionesAvanzadas" type="submit" style="float:left" (click)="ChangeOpciones()" class={{claseBoton}} >Opciones Avanzadas -</button> 
<button [hidden]="!OpcionesAvanzadas"  type="submit" style="float:right"  (click)="tomarAsistencia()" class={{claseBoton}} >Ingresar al aula</button>
</form>
</div>
</ion-content>