
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asistencias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding align="center">

  <ion-fab  down right edge> 
    <button ion-fab mini><ion-icon name="contact" ></ion-icon></button>
     <ion-fab-list>
       <button ion-fab  (click)="piano()"><ion-icon name="body"></ion-icon></button>
       <button ion-fab  (click)="EnviarMensaje()" ><ion-icon name="thumbs-up"></ion-icon></button>
       <button ion-fab  (click)="CerrarSesion()" ><ion-icon name="power"></ion-icon></button>
     
    
     </ion-fab-list>
  </ion-fab> 


<div class="login-body">
 
  <section>
    <div >
      <div id="login-access">
        <h2><i class="glyphicon glyphicon-log-in"></i> Filtros para asistencia</h2>						

        <div class="col-md-7">
    <div class="funkyradio">
      <div class="funkyradio-danger">
        <input type="radio" (click)="setOpcion(0)" name="radio" id="radio5" />
        <label for="radio5">Aula</label>
      </div>
      <div class="funkyradio-danger">
            <input type="radio" (click)="setOpcion(1)" name="radio" id="radio1" />
            <label for="radio1">Materia</label>
        </div>
        <div class="funkyradio-danger">
            <input type="radio" (click)="setOpcion(2)" name="radio" id="radio2" checked/>
            <label for="radio2">Profesor</label>
        </div>
        <div class="funkyradio-danger">
            <input type="radio" (click)="setOpcion(3)" name="radio" id="radio3" />
            <label for="radio3">Alumno</label>
        </div>
        <div class="funkyradio-danger">
            <input type="radio" (click)="setOpcion(4)" name="radio" id="radio4" />
            <label for="radio4">Fecha</label>
        </div>

    </div>
</div>
<div class="col-md-8">  
        <select *ngIf="opcion==0"  class="selectpick">
            <option>Aula...</option>
            <option>200</option>
            <option>201</option>
            <option>202</option>
          </select>
          <select class="selectpick" *ngIf="opcion==1" >
              <option>Materia...</option>
              <option>Laboratorio 1</option>
              <option>Programacion 1</option>
              <option>Base de Datos</option>
            </select>
            <select class="selectpick" *ngIf="opcion==2" >
              <option>Profesor...</option>
              <option>Gomez,Luis</option>
              <option>Ruiz,Monica</option>
              <option>Rodriguez,Luis</option>
            </select>
            <input *ngIf="opcion==3"  id="msg"  [(ngModel)]="Alumno"  type="text" class="selectpick" name="msg" placeholder="Alumno"> 
            <input *ngIf="opcion==4"  id="msg"  [(ngModel)]="Fecha"   type="text" class="selectpick" name="msg" placeholder="Fecha"> 
            	
      </div>
      </div>
      
      <button  (click)="tomarAsistencia()" class="btn btn-primary btn-md">Ingresar al aula</button>
    </div>
  </section>

</div>
</ion-content>