<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>
  <ion-navbar>
          <div class={{conteiner}}>
                  <ion-title>Listas de asistencias</ion-title>
                <ion-buttons end>
                    <button ion-button (click)="closeModal()" >Cerrar </button>   
                </ion-buttons>
          </div>
  </ion-navbar>
</ion-header>
<ion-content padding align="center">
    <div class={{conteiner}}>
<div class="login-body">
    <div>
      <div   id="login-access">
        <h2><i class="glyphicon glyphicon-log-in"></i> Filtros para Consultar</h2>						
    </div>

<div class="col-md-8">  
        <select  [(ngModel)]="AulaSelect" style="color:black;"   selected="selected">
            <option>Aula...</option>
            <option>200</option>
            <option>201</option>
            <option>202</option>
          </select>
          <select [(ngModel)]="MateriaSelect"  style="color:black;"   selected="selected" >
              <option>Materia...</option>
              <option>Laboratorio 1</option>
              <option>Programacion 1</option>
              <option>Base de Datos</option>
              <option>PPS</option>
            </select>
            <select [(ngModel)]="ProfesorSelect"  style="color:black;"   selected="selected" *ngIf="opcion==2" >
              <option>Profesor...</option>
              <option>Abaurre,Fernando</option>
              <option>Lopez,Gustavo</option>
              <option>Fernandez,Diego</option>
            </select>
            <input *ngIf="opcion==3"  id="msg" placeholder="Inserta el Legajo..."  [(ngModel)]="AlumnoSelect"  type="text" class="selectpick" name="msg"> 
            <input   id="msg"  [(ngModel)]="Fecha"   type="text" class="selectpick" name="msg" placeholder="Fecha"> 

            <select *ngIf="opcion==6" [(ngModel)]="AulaSelect" style="color:black;"   selected="selected">
                <option>Aula...</option>
                <option>200</option>
                <option>201</option>
                <option>202</option>
              </select>
              <select [(ngModel)]="MateriaSelect"  style="color:black;"   selected="selected" *ngIf="opcion==6" >
                  <option>Materia...</option>
                  <option>Laboratorio 1</option>
                  <option>Programacion 1</option>
                  <option>Base de Datos</option>
                </select>	
      </div>
      </div>
      <form class="sa-innate-form" method="post">
      <button  (click)="tomarAsistencia()" class={{claseBoton}} >Ingresar al aula</button>
      </form>

</div>
    </div>
</ion-content>
